.product {
  margin: 15% 0%;
  padding: 2% 20%;
  backdrop-filter: blur(3.5px);
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  grid-template-areas: 
  'p d';
}
.product_pic {
  grid-area: p;
}
.product_pic img {
  border-radius: 20px;
  height: 520px;
}
.product_description {
  filter: drop-shadow(5px 5px 4px #b4b4b4);
  grid-area: d;
  justify-self: left;
}

.product_description p {
  text-align: justify;
  font-size: 22px;
}
.product_description p strong {
  font-size: 24px;
}