
.product_description {
  filter: drop-shadow(5px 5px 4px #b4b4b4);
  grid-area: d;
  justify-self: left;
}

.product_description p {
  text-align: justify;
  font-size: 22px;
}
.product_description p strong {
  font-size: 24px;
}

.products {
  margin: 400px 600px;
  margin-bottom: 100px;
}
#comslider_in_point_2225267 {
   margin: 20px;
}
.product_description p {
   padding-left: 50px;
   padding-right: 50px;
}