.product {
  margin: 10% 20%;
  position: relative;
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
}
.product_pic img {
  border-radius: 20px;
  height: 25vw;
}
.product_description {
  justify-self: left;
}