* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
    font-family: Poppins;
}

body {
    background: url(/assets/pictures/Pattern-Randomized.svg);
}
  
header {
    padding-left: 20%;
    padding-right: 20%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    position: fixed;
    transition: .8s;
    background: rgba(0, 0, 0, 0.192);
    opacity: 0;
}

.hide {
    z-index: 1000;
    opacity: 1;
}

header .conteiner {
}
    

.headerlogo{
    text-align: center;
}
.nbar{
    position: absolute;
    top: 45px;
    right: 25px;
}

.logo {
    height: 5rem;
    transition: .8s;
}

.logo a[rel="home"] {
    display: block;
    position: relative;
    z-index: 1;
}

#wavesup {
    opacity: .85;
    z-index: -10;
    margin-top: -1px;
    position: absolute;
}

#wavesdown{
    z-index: -10;
    margin-top: -1px;
    bottom: 0px;
    position: absolute;
}

/*--------------------------------------------
*                   MAIN
----------------------------------------------*/

main {
    position: relative;
}
.shead {
    position: absolute;
    top: 0px;
    width: 100%;
}
#jaslo {
    float: left;
    padding: 1rem;
}
#jaslo img {
    filter:brightness(0) invert(1);
    height: 4rem;
}
.soja {
    float: right;
    padding: 1rem;
}
.soja a i {
    color: white;
}

.background {
    background: url(/assets/pictures/IMG_41051.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 20rem;
    padding-bottom: 20em;
}
#logo {
    text-align: center;
}
#logo img {
    margin-top: 3rem;
    opacity: 0;
    transition: 1.1s;
    height: 15vw;
}
.opis {
    /*
    position: -webkit-sticky;
    position: sticky; top: 0px;*/
    font-size: 20px;
    opacity: 0;
    transition: 1.1s;
    background:rgba(0, 0, 0, 0.438);
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    color: white;

}
#zaposlenin {
    position: absolute;
    margin-top: -2.5rem;
    left: 3vw;
}
.presentpics {
    margin-top: 10rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    grid-template-areas: 
    'p s k t';
}

.card1{grid-area: p;}
.card2{grid-area: s;}
.card3{grid-area: k;}
.card4{grid-area: t;}

#background1 {
    position: absolute;
    top: 0px;
    z-index: 10;
    background: violet;
    float: left;
    height: auto;
    width: 300px;
}

/*--------------------------------------------
*                   FOOTER
----------------------------------------------*/

footer {
    position: relative;
    padding: 5rem;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.f_wrapper {
    position:initial;
    right: 5%;
    margin: 20px;
}
.f_wrapper .button{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.f_wrapper .button:hover{
    background: #e7be98d5;
}
.f_wrapper .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
}
.f_wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.f_wrapper .button:nth-child(2):hover .icon{
    background: #E1306C;
}
.f_wrapper .button .icon i{
    font-size: 20px;
    line-height: 40px;
    transition: all 0.3s ease-out;
}
.f_wrapper .button:hover .icon i{
  color: #fff;
}

.titles ul {
    font-family: Poppins;
    list-style-type: none;
    display: flex;
}
.titles ul li{
    margin-left: 1rem;
}
.titles ul li a{
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.bline {
    margin: 1rem 0 2rem 0;
    border: 0;
    height: 1.5px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.cc {
    text-align: center;
    display: flex;
}
.cc a i {
    color: black;
    margin-left: 4px;
}
.cc a i:hover {
    color: rgba(53, 53, 53, 0.7);
	transition: color 0.4s;
}
.inline {
    margin-left: 2px;
}
