* {
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    padding-left: 20%;
    padding-right: 20%;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    position: fixed;
    transition: .8s;
    background: rgba(238, 34, 34, 0);
    opacity: 1;
}

.hide {
    backdrop-filter:blur(1px);
    background: rgba(238, 34, 34, 0);
    z-index: -1;
    opacity: 0;
}

header .conteiner{
    margin-top: 10px;
}

.headerlogo{
    text-align: center;
}
.nbar{
    position: absolute;
    top: 45px;
    right: 25px;
}

.logo {
    height: 5rem;
    transition: .8s;
}

.logo a[rel="home"] {
    display: block;
    position: relative;
    z-index: 1;
}

/*--------------------------------------------
*                   MAIN
----------------------------------------------*/

main {
    
}
.background {
    background: url(/assets/pictures/back1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 15em;
}
#logo {
    text-align: center;
}
#logo img {
    height: 15vw;
}
.opis {
    /*
    position: -webkit-sticky;
    position: sticky; top: 0px;*/
    background:rgba(0, 0, 0, 0.308);
    margin: 2rem;
    padding: 2rem;
    text-align: center;
    color: white;

}
.presentpics {
    background: rgb(156, 139, 156);
    margin-top: 10rem;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 12px;
    grid-template-areas: 
    'p s t k';
}
.pics {
    height: 5rem;
    background: violet;
    background-size: cover;
}
.pic1{
    grid-area: p;
}
.pic2{
    grid-area: s;
}
.pic3{
    grid-area: k;
}
.pic4{
    grid-area: t;
}

.product {
    margin-top: 10rem;
}

/*--------------------------------------------
*                   FOOTER
----------------------------------------------*/

footer {
    margin-top: 10rem;
    padding: 5rem;
    background: #e7be98d5;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
}

.f_wrapper {
    position:initial;
    right: 5%;
    margin: 20px;
}
.f_wrapper .button{
    display: inline-block;
    height: 40px;
    width: 40px;
    margin: 0 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 50px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.3s ease-out;
}
.f_wrapper .button:hover{
    background: #e7be98d5;
}
.f_wrapper .button .icon{
    display: inline-block;
    height: 40px;
    width: 40px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 40px;
    transition: all 0.3s ease-out;
}
.f_wrapper .button:nth-child(1):hover .icon{
    background: #4267B2;
}
.f_wrapper .button:nth-child(2):hover .icon{
    background: #E1306C;
}
.f_wrapper .button .icon i{
    font-size: 20px;
    line-height: 40px;
    transition: all 0.3s ease-out;
}
.f_wrapper .button:hover .icon i{
  color: #fff;
}

.titles ul {
    list-style-type: none;
    display: flex;
}
.titles ul li{
    margin-left: 1rem;
}
.titles ul li a{
    color: black;
}
.bline {
    margin: 1rem 0 2rem 0;
    border: 0;
    height: 1.5px;
    width: 100%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(255, 255, 255, 0.75), rgba(0, 0, 0, 0));
}
.cc {
    display: flex;
}
.cc a i {
    color: black;
    margin-left: 4px;
}